<div class="video-list">
  <div *ngFor="let video of videos$ | async" class="video-item" (click)="openModal(video)">
    <img [src]="video.thumbnail" alt="Video thumbnail"/>
    <div class="video-info">
      <span>{{ video.date }}</span>
      <span>{{ video.time }}</span>
      <span>{{ video.duration }}s</span>
    </div>

    <app-icon
      class="button-delete"
      name="delete-default"
      (click)="deleteVideo(video.id, $event)"
      [size]="20"
    />
  </div>
</div>

<div *ngIf="(videos$ | async)?.length === 0" class="placeholder">
  <app-icon name="video-camera" [size]="40"/>
  <span>There are no recorded videos yet</span>
</div>
