<div class="container">

  <section class="video-recorder-section">
    <video
      #recordingVideo
      [hidden]="!recording"
      autoplay
      muted>
    </video>

    <app-video-quality-selector></app-video-quality-selector>

    <app-record-button
      class="record-button"
      (recordingStarted)="startRecording()"
      (recordingStopped)="stopRecording()">
    </app-record-button>
  </section>

  <section class="video-list-section">
    <app-video-list></app-video-list>
  </section>
</div>
