@use  'variables' as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal-content {
  position: relative;
  width: 80%;
  max-width: 900px;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 11;
}

video {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.close-button {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 44px;
  height: 44px;
  // I dont have time to understand why
  padding-top: 4px;
  background: none;
  border: none;
  cursor: pointer;

  background: $background-color;
  border-radius: 50%;
  z-index: 2;
}

.video-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  max-width: 500px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  border-radius: 50px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  button {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.progress-bar {
  flex: 1;
  margin: 0 10px;
  -webkit-appearance: none;
  height: 5px;
  background: white;
  border-radius: 3px;
}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}
